ECS_CLUSTER=si-p
ECS_LOGLEVEL=debug
ECS_ENGINE_AUTH_TYPE=docker
ECS_ENGINE_AUTH_DATA={"https://index.docker.io/v1/":{"username":"docker-user","password":"docker-pass","email":"some-person@email.com"}}
si_log_initlevel=FINEST
si_db_config=mongodb://user:pass@some-mongodb-host.net:27017,/test?ssl=true&replicaSet=cluster0-shard-0&authSource=admin&retryWrites=true
